body{
    background-color:black;
}

.post{
    height: 600px;
    width: 400px;
    background: white;
    margin: auto;
    margin-bottom: 0;

}

.post-header{
    height: 50px;
    /* background: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icon-header-ri , .icon-header-left{
    margin: 5px;
}

.icon-header-ri{
  display: flex;  /* float: left; */
}
.i-h-r-t{
    /* background: green; */
    margin: 5px;
}
.i-h-r-t p{

    margin: 0;
    padding: 0;
    font-size: 10px;
}

#titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#name{
   font-family: sans-serif;
    
}

.post-image{
    /* background-color: hotpink; */
    height: 300px;
    margin: 0;

}
.post-content{
    margin: 0px;
    padding: 0px;
    

}

.post-content-icons{
    height: 50px;
    /* background-color: blue; */
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    
}
 
/* iconos  */
 
.icon-header-ri{
    font-size: 30px;
    /* margin: 10px; */

}


.derecha , .izq{
margin: 10px;

}

.derecha i{
    margin: 3px;
}


.derecha i , .izq i{
    font-size: 25px;
    /* margin: 10px; */

}

.fa-heart{
    font-size: 35px;
}

.post-content-title{
    height: 50px;
    /* background: green; */
    margin: 0px;
    padding: 0px;
}
.post-content-title p{
    margin: 0;
    padding: 10px;
    font-size: 14px;

}

.post-content-text{
    height: 100%;
    /* background: yellow; */

}

.post-content-text p{
    margin: 0;
    padding-left: 10px;
    font-size: 14px;
}

.post-content-title p , .post-content-text p {

    font-family: sans-serif;
}

#hashtag{
    font-size: 13px;
    margin-top: 10px;
    color: blue;
}